DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"
DATABASE_DIRECT_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"
JWT_SECRET="your_secret"
JWT_EXPIRES_IN="1d"
PORT=4000
CORS_ORIGIN="http://localhost:3000"
